<div
  class="h-screen w-screen flex flex-col items-center justify-center relative overflow-hidden"
>
  <div class="text-2xl font-bold text-[#1e0e4b] text-center mb-6">
    Welcome back to <span class="text-[#7747ff]">CyberSpace</span>
  </div>
  <div
    class="max-w-md min-h-fit relative flex flex-col justify-center p-8 px-12 text-black bg-white shadow-lg rounded-lg"
  >
    <div class="text-sm font-normal mb-4 text-center text-[#1e0e4b]">
      Log in to your account
    </div>
    <form class="flex flex-col gap-3" #form1="ngForm">
      {{ form1.value | json }}
      <div class="block relative">
        <label
          for="mail"
          class="form-control block text-gray-600 cursor-text text-sm leading-[140%] font-normal mb-2"
          >Email</label
        >
        <input
          type="text"
          class="rounded border border-gray-200 text-sm w-full font-normal leading-[18px] text-black tracking-[0px] appearance-none block h-11 m-0 p-[11px] focus:ring-2 ring-offset-2 ring-gray-900 outline-0"
          name="mail"
          pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
          required
          ngModel
          #mail="ngModel"
        />
        <div
          *ngIf="mail.invalid && (mail.dirty || mail.touched)"
          class="text-red-500"
        >
          <div *ngIf="mail.errors?.['required']">Email is required.</div>
          <div *ngIf="mail.errors?.['pattern']">
            Please enter a valid email address.
          </div>
        </div>
      </div>
      <div class="block relative">
        <label
          for="pass"
          class="form-control block text-gray-600 cursor-text text-sm leading-[140%] font-normal mb-2"
          >Password</label
        >
        <input
          type="password"
          class="rounded border border-gray-200 text-sm w-full font-normal leading-[18px] text-black tracking-[0px] appearance-none block h-11 m-0 p-[11px] focus:ring-2 ring-offset-2 ring-gray-900 outline-0"
          name="pass"
          ngModel
          #pass="ngModel"
          required
          minlength="8"
        />
        <!-- <div>
          {{ pass.errors | json }}
        </div> -->
        <div
          *ngIf="pass.invalid && (pass.dirty || pass.touched)"
          class="text-red-500"
        >
          <div *ngIf="pass.errors?.['required']">Password is required.</div>
          <div *ngIf="pass.errors?.['minlength']">
            Password must be at least 8 characters long.
          </div>
        </div>
      </div>
      <button
        type="submit"
        class="bg-[#7747ff] w-max m-auto px-6 py-2 rounded text-white text-sm font-normal"
        [disabled]="!form1.form.valid"
        (click)="authenticate(form1)"
      >
        Submit
      </button>
    </form>
  </div>
</div>

<!-- <div class="text-sm text-center mt-[1.6rem]">
      Don’t have an account yet?
      <a class="text-sm text-[#7747ff]" href="#">Sign up for free!</a>
    </div> -->
